.cart-drawer {
	position: fixed;
	top: 0;
	right: 0;
	width: 540px;
	height: 100vh;
	background: #fff;
	border-left: 1px solid #E1DFE1;
	transform: translateX(100%);
	transition: transform .25s ease;
	display: flex;
	flex-direction: column;
	z-index: 40;
    padding:40px;
}

.cart-drawer.open {
	transform: translateX(0);
}

.cart-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cart-header h2 {
	margin: 0;
	font-weight: 500;
    font-size: 20px;
}

.cart-header .close {
	background: none;
	border: 0;
	font-size: 35px;
    font-weight: 300;
	cursor: pointer;
}

.cart-body {
	flex: 1;
	overflow: auto;
	padding: 12px 24px;
}

.cart-empty {
	margin-top: 151px;
	text-align: center;
}

.cart-empty h2 {
    font-weight: 600;
    font-size: 24px;
    color: #10151F;
    margin-top: 24px;
}

.cart-empty p {
    font-weight: 400;
    font-size: 14px;
    color: #3E424A;
    margin-top: 10px;
}

.btn-cart {
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    width:214px;
}

.cart-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	gap: 36px;
}

.cart-item {
	display: grid;
	grid-template-columns: 100px 1fr auto;
	gap: 17px;
	align-items: start;
}

.cart-item .thumb {
	width: 100px;
	height: 134px;
	background: #f7f7f7;
	border-radius: 10px;
    border:1px solid #E1DFE1;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.cart-item .thumb img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.cart-item .meta {
	display: grid;
	gap: 6px;
}

.cart-item .name {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#10151F;
    margin-top:8.5px;
}

.cart-item .attrs {
	display: flex;
    flex-direction: column;
	gap: 8px;
    font-weight: 400;
	color: #3E424A;
	font-size: 12px;
}

.cart-item .qty {
	display: inline-flex;
	gap: 7px;
	align-items: center;
	border: 1px solid #E1DFE1;
	border-radius: 22px;
	padding: 0 4px;
    height: 26px;
    max-width:70px;
    font-size: 12px;
}

.cart-item .qty button {
	background: none;
	border: 0;
	cursor: pointer;
	font-size: 12px;
}

.cart-item .price {
	font-weight: 500;
    font-size: 18px;
    margin-top:8.5px;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
}

.cart-item .remove {
	background: none;
	border: 0;
	color: #3E424A;
    font-weight: 400;
    font-size: 12px;
	cursor: pointer;
	grid-column: 3;
    grid-row: 1;
    justify-self: center;
    align-self: end;
    margin-bottom: 12.5px;
}

.cart-footer {
    padding-top:20px;
	display: grid;
	gap: 16px;
}

.cart-footer .row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #3E424A;
    font-weight: 400;
    font-size: 16px;
}

.cart-footer .total {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
    font-size: 20px;
    color:#10151F;
    margin-bottom:102px;
}

.btn-cart-checkout {
    font-weight: 500;
    font-size: 18px;
}